.header {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header a {
    color: #af1313;
}

.header a:hover {
    background: #e72929;
    color: white;
    cursor: pointer;
}

